@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Orbitron&display=swap');

h1 {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 150px;
}

header {
    background-color: #730202;
    text-align: center;
    padding-block: 20px;
    /* height: 50vh; */

}

h2,
h3,
h4,
p {
    font-family: 'Orbitron', sans-serif;
    color: white;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8C464C;
}

nav li {
    text-align: center;
}

nav a {

    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #260126;
}

section {
    background-color: #554F59;
}

.alternateBG {
    background-color: #260126;
}

#ContactInformation {
    color: white;
}